.App {
  text-align: center;
  background-color: rgb(193, 162, 223);
  padding: 10px;
}

.navlink {
  font-size: 20px;
  padding: 5px;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.header {
  text-align: center;
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.login {
  text-align: center;
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 50px auto 200px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

label {
  width: 380px;
}

form {
  background-color: white;
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.card-body {
  text-align: left
}