.App {
  text-align: center;
  background-color: rgb(168, 235, 247);
  padding: 10px;
}

.navlink {
  font-size: 17px;
  padding: 10px;
  width: 700px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  background-color: white;
  box-shadow: 5px 5px 5px #686868;
  border-radius: 5px;
}

.feedback {
  text-align: center;
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 30px auto 30px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #686868;
}

.form-group {
  margin: 15px;
}

.feedback-input {
  width: 500px;
  max-width: 100%;
}

.login {
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 30px auto 170px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #686868;
}

.sign-in-message {
  color: crimson;
  text-align: center;
  margin: 15px auto;
}

.register {
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 30px auto 120px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #686868;
}

.user-input {
  width: 300px;
  text-align: left
}

.username-icon input[type=text] {
  padding-left: 40px;
}

.username-icon {
  position: relative;
}

.username-icon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 2px 8px;
  color: #686868 ;
  transition: .3s;
}

.username-icon input[type=text]:focus + i {
  color: dodgerblue;
}

.email-icon input[type=email] {
  padding-left: 40px;
}

.email-icon {
  position: relative;
}

.email-icon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 2px 8px;
  color: #686868 ;
  transition: .3s;
}

.email-icon input[type=email]:focus + i {
  color: dodgerblue;
}

/* Password */
.password-icon input[type=password] {
  padding-left: 40px;
}

.password-icon {
  position: relative;
}

.password-icon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 2px 8px;
  color: #686868 ;
  transition: .3s;
}

.password-icon input[type=password]:focus + i {
  color: dodgerblue;
}

/* search icon within input field*/
.search-icon input[type=search] {
  padding-left: 40px;
}

.search-icon {
  position: relative;
}

.search-icon i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 6px 20px;
  color: #686868 ;
  transition: .3s;
}

.search-icon input[type=search]:focus + i {
  color: dodgerblue;
}

/* Styling each indiviual feedback displayed */
.feedback-card-header {
  padding: 10px;
  width: 700px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  background-color: white;
  box-shadow: 5px 5px 5px #686868;
  border-radius: 5px;
}

#search-input {
  width: 100%;
  margin: 5px 10px;
}

#feedback-card-container {
  margin: 20px auto;
}

.no-feedback-card-container {
  margin: 210px auto;
  color: white;
  text-shadow: 2px 2px #686868;
}

#feedback-card {
  box-shadow: 5px 5px 5px #686868;
}

.no-name-found {
  text-align: center;
}

.card-body {
  text-align: left
}

.hide-btn {
  display: none;
}