.App {
  text-align: center;
  background-color: rgb(193, 162, 223);
  padding: 10px;
}

.navlink {
  font-size: 20px;
  padding: 5px;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.header {
  text-align: center;
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.feedback {
  text-align: center;
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 20px auto 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.form-group {
  margin: 15px;
}

.login {
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 50px auto 200px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.register {
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: 50px auto 200px auto;
  border-radius: 5px;
  box-shadow: 5px 5px #5c5c5c;
}

.card-body {
  text-align: left
}